<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
            <a id="logo" class="logo-text" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
            <nav id="main-nav">
                {{ range .Site.Menus.main }}
                <a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </nav>
            <nav id="sub-nav">
                <div id="search-form-wrap">
                </div>
            </nav>
        </div>
    </div>
    <a href="https://s.click.aliexpress.com/e/_A6QrwQ" target="_parent"><img width="725" height="90" src="https://ae01.alicdn.com/kf/HTB1wDNeov5TBuNjSspc762nGFXaf/EN_725_90.png" align="middle"/></a>
</header>
