<p align="center">
 
<a href="https://s.click.aliexpress.com/e/_A6QrwQ" target="_parent"><img width="725" height="90" src="https://ae01.alicdn.com/kf/HTB1wDNeov5TBuNjSspc762nGFXaf/EN_725_90.png" align="middle"/></a>
 
</p>
{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav id="page-nav">
    {{ if $pag.HasPrev }}
    <a href="{{ $pag.Prev.URL }}" rel="prev" class="extend prev">&laquo; {{ T "Prev" }}</a>
    {{ end }}
    {{ range $pag.Pagers }}
    {{ if eq . $pag }}
    <span class="page-number current">{{ $pag.PageNumber }}</span>
    {{ else }}
    <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
    <a href="{{ $pag.Next.URL }}" rel="next" class="extend next">{{ T "Next" }} &raquo;</a>
    {{ end }}
</nav>
{{ end }}
