{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
        {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
        <article class="article article-type-post" itemscope itemprop="blogPost">
            <div class="article-inner">
                <!--<%- partial('post/gallery') %>-->
                {{ if .Title }}
                <header class="article-header">
                    <h1 itemprop="name"><a class="article-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                </header>
                {{ end }}
                <div class="article-meta">
                    <a href="{{ .RelPermalink }}" class="article-date">
                        <time datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
                    </a>
                    {{ $Site := .Site }}
                    {{ if .Params.categories }}
                    <div class="post-categories">
                        <div class="article-category">
                            {{ range $i, $e := .Params.categories }}
                            {{ if gt $i 0 }}
                            <span>&gt;</span>
                            {{ end }}
                            <a class="article-category-link" href="{{ $Site.BaseURL }}/categories/{{ $e | urlize }}">{{ $e }}</a>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                    {{ if .Site.DisqusShortname }}
                    <div class="article-comment-link-wrap">
                        <a href="{{ .RelPermalink }}#disqus_thread" class="article-comment-link">{{ T "Comments" }}</a>
                    </div>
                    {{ end }}
                </div>
                <div class="article-entry" itemprop="articleBody">
                    <p>
                        {{ if .Params.featuredImage }}<img src="{{.Params.featuredImage}}"><br>{{ end }}
                    {{ .Summary }}
                    </p>
                    <p class="article-more-link">
                        <a href="{{ .RelPermalink }}">{{ T "ReadMore" }}</a>
                    </p>
                </div>

                {{ if .Params.tags }}
                <footer class="article-footer">
                    <ul class="article-tag-list">
                        {{ range .Params.tags }}
                        <li class="article-tag-list-item">
                            <a class="article-tag-list-link" href="{{ $Site.BaseURL}}/tags/{{ . | urlize }}">{{ . }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </footer>
                {{ end }}
            </div>
        </article>
        {{ end }}

        {{ partial "pagination.html" . }}
    </section>
    {{ partial "footer.html" . }}
</div>
    
    <!-- Default Statcounter code for netlify group
http://nailartideasworld310321.netlify.app -->
<script type="text/javascript">
var sc_project=12505178; 
var sc_invisible=1; 
var sc_security="35419d1a"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12505178/0/35419d1a/1/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>
</html>
